target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
# The following files are generated/updated by Hilla
node_modules/
frontend/generated/
vite.generated.ts
